.hidden {
    display: none;
}

body {
    background-color: rgb(13, 178, 233);
    padding: px;
    font-size: 14px;
}



body h1 {
    color: green;
    font-size: 40px;
}

body h2 {
    color: red;
    margin-top: 20px;
    font-size: 28px; 
}

body img {
    max-width: 40%; 
    height: auto;
}

body ol {
    color: blue;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px; 
}

body li {
    margin-bottom: 10px;
}